html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  margin: 26px;
  border: 1px solid #ccc;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.f-size-16 {
  font-size: 16px;
}
span[role="img"] {
  color: #22c1c3;
}
//display
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.hide {
  display: none;
}
.show {
  display: block !important;
}
.d-inline-block {
  display: inline-block;
}
.d-inline-block .content-popover {
  display: none;
}
.d-inline-block:hover .content-popover {
  display: block !important;
}
.float-end {
  float: right;
}
//width
.width-50 {
  width: 50% !important;
}
.width-75 {
  width: 75% !important;
}
.width-full {
  width: 100% !important;
}
//text
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-muted {
  color: #6c757d;
}
.text-white {
  color: #fff;
}
.text-bold {
  font-weight: bold;
}
.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
.text-success {
  color: $success-color;
}
.text-danger {
  color: $danger-color;
}
.text-warning {
  color: $warning-color;
}
.text-info {
  color: $info-color;
}
.text-light {
  color: $light-color;
}
.text-dark {
  color: $dark-color;
}
