.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-static {
  position: static;
}
.position-fixed {
  position: fixed !important;
}
.top-0 {
  top: 0;
}
.top-50 {
  top: 50%;
}
.end-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.start-0 {
  left: 0;
}
.start-50 {
  left: 50%;
}
.translate-middle-x {
  transform: translateX(-50%) !important;
}
.translate-middle-y {
  transform: translateY(-50%) !important;
}
.translate-middle {
  transform: translate(-50%, -50%) !important;
}
