.Scroll-To {
  position: fixed;
  bottom: 69px;
  right: 50px;
  z-index: 6;
  &-arrow {
    font-size: 40px;
    &:hover,
    &:active {
      transform: scale(1.2);
      transition: all 0.5s;
    }
  }
}
