// color
$primary-color: #0d6efd;
$secondary-color: #6c757d;
$success-color: #3b8755;
$danger-color: #dc3545;
$warning-color: #f8c146;
$info-color: #53cbf0;
$light-color: #f8f9fa;
$dark-color: #212529;
$font-size-base: 14px;
//color bland
$primary-bland-color: #cfe2ff;
$secondary-bland-color: #e2e3e5;
$success-bland-color: #d1e7dd;
$danger-bland-color: #f8d7da;
$warning-bland-color: #fff3cd;
$info-bland-color: #cff4fc;
$light-bland-color: #fefefe;
$dark-bland-color: #d3d3d4;
//color text
$primary-text-color: #084298;
$secondary-text-color: #41464b;
$success-text-color: #0f5132;
$danger-text-color: #842029;
$warning-text-color: #664d03;
$info-text-color: #055160;
$light-text-color: #636464;
$dark-text-color: #141619;
