.content > .progress + .progress {
  margin-top: 10px;
}
.progress {
  display: flex;
  height: 16px;
  color: #fff;
  background-color: #e9ecef;
  border-radius: 4px;
  overflow: hidden;
  &-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d6efd;
  }
  &-bar-stripes {
    background-image: repeating-linear-gradient(
      -45deg,
      transparent 0 5px,
      rgba(255, 255, 255, 0.15) 5px 10px
    );
  }
  &-bar-animated {
    position: relative;
    overflow: hidden;
    background: none;
    &::before {
      content: "";
      position: absolute;
      left: -46px;
      right: 0;
      top: 0;
      bottom: 0;
      background: repeating-linear-gradient(
        -55deg,
        transparent 1px,
        rgba(255, 255, 255, 0.15) 2px,
        rgba(255, 255, 255, 0.15) 7px,
        transparent 8px,
        transparent 13px
      );

      animation: stripes-animation 0.7s linear infinite;
    }
  }
}
@keyframes stripes-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(46px);
  }
}
